.ant-tabs-content {
    width: 42vw;
    margin-left: -24px;
}

@font-face {
    font-family: 'iconfont';
    /* Project id 3180341 */
    src: url('//at.alicdn.com/t/font_3180341_36kwfj8anom.woff2?t=1644802848567') format('woff2'), url('//at.alicdn.com/t/font_3180341_36kwfj8anom.woff?t=1644802848567') format('woff'), url('//at.alicdn.com/t/font_3180341_36kwfj8anom.ttf?t=1644802848567') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-selectarea:before {
    content: "\e933";
}

.icon-camrotate:before {
    content: "\e64c";
}

.icon-rail:before {
    content: "\e638";
}

.icon-3d:before {
    content: "\e625";
}